accelerate==1.13.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp_socks==0.11.0
aiosignal==1.4.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
av==17.0.0
babel==2.16.0
beautifulsoup4==4.12.3
blake3==1.0.8
bleach==6.1.0
blinker==1.4
certifi==2024.8.30
cffi==2.0.0
chardet==7.4.0.post2
charset-normalizer==3.3.2
click==8.3.1
color-matcher==0.6.0
comfy-aimdo==0.2.12
comfy-kitchen==0.2.8
comfyui-embedded-docs==0.4.3
comfyui-workflow-templates-core==0.3.168
comfyui-workflow-templates-media-api==0.3.64
comfyui-workflow-templates-media-image==0.3.104
comfyui-workflow-templates-media-other==0.3.141
comfyui-workflow-templates-media-video==0.3.60
comfyui_frontend_package==1.41.20
comfyui_workflow_templates==0.9.21
comm==0.2.2
contourpy
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
ddt==1.7.2
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.37.1
distro==1.7.0
docutils==0.22.4
einops==0.8.2
entrypoints==0.4
executing==2.1.0
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
filelock==3.13.1
flatbuffers==25.12.19
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2024.2.0
ftfy==6.3.1
future==1.0.0
gguf==0.18.0
gitdb==4.0.12
GitPython==3.1.46
glfw==2.10.0
greenlet==3.3.2
h11==0.14.0
h2==4.3.0
hf-xet==1.4.3
hpack==4.1.0
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.2
huggingface_hub==1.8.0
hyperframe==6.1.0
idna==3.10
ImageIO==2.37.3
importlib-metadata==4.6.4
ipykernel==6.29.5
ipython==8.27.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.3
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-archive==3.4.0
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==7.4.9
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring==23.5.0
kiwisolver==1.5.0
kornia==0.8.2
kornia_rs==0.1.10
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==5.3.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline==0.1.7
matrix-nio==0.25.2
mdurl==0.1.2
mistune==3.0.2
more-itertools==8.10.0
mpmath==1.3.0
mss==10.1.0
multidict==6.7.1
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==6.5.5
notebook_shim==0.2.4
nvidia-cublas-cu12==12.4.2.65
nvidia-cuda-cupti-cu12==12.4.99
nvidia-cuda-nvrtc-cu12==12.4.99
nvidia-cuda-runtime-cu12==12.4.99
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.0.44
nvidia-curand-cu12==10.3.5.119
nvidia-cusolver-cu12==11.6.0.99
nvidia-cusparse-cu12==12.3.0.142
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.4.99
oauthlib==3.2.0
onnxruntime-gpu
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
overrides==7.7.0
packaging==26.0
pandocfilters==1.5.1
parso==0.8.4
peft==0.18.1
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.3.6
prometheus_client==0.21.0
prompt_toolkit==3.0.47
propcache==0.4.1
protobuf==7.34.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyGithub==2.9.0
Pygments==2.18.0
PyJWT==2.12.1
pyloudnorm==0.2.0
PyNaCl==1.6.2
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==2.0.7
python-socks==2.8.1
PyYAML==6.0.2
pyzmq==24.0.1
referencing==0.35.1
regex==2026.3.32
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.3.3
rpds-py==0.20.0
safetensors==0.7.0
scipy
SecretStorage==3.3.1
Send2Trash==1.8.3
sentencepiece==0.2.1
shellingham==1.5.4
simpleeval==1.0.7
six==1.16.0
smmap==5.0.3
sniffio==1.3.1
soupsieve==2.6
spandrel==0.4.2
SQLAlchemy==2.0.48
stack-data==0.6.3
sympy==1.12
terminado==0.18.1
tinycss2==1.3.0
tokenizers==0.22.2
toml==0.10.2
tornado==6.4.1
tqdm==4.67.3
traitlets==5.14.3
trampoline==0.1.2
transformers==5.4.0
triton==3.0.0
typer==0.24.1
types-python-dateutil==2.9.0.20240906
typing-inspection==0.4.2
typing_extensions==4.15.0
unpaddedbase64==2.1.0
uri-template==1.3.0
urllib3==2.2.3
uv==0.11.3
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
yarl==1.23.0
zipp==1.0.0
